.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .aboutus{
      text-align: left;
      width: 100%;
      
    }

    .heading {
      display: flex;
      margin-top: 3rem;
      justify-content: center;
      align-items: center;
      p {
        font-family: "Risque";
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 97px;
        margin-top: 2rem;
        font-family: "Risque", var(--gdsc-font-1);
        color: #053d00;
      }
    }
    
    .logo{
      background-color: #053d00;

    }
    .content {
      margin-top: 3rem;
      width: 60%;
      display: flex;
      justify-content: center;
      p {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
  