.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background-color: #053d00;
  width: 100%;

  .logo {
    margin-left: 3rem;

    img {
      width: 5rem;
      height: 4rem;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #fff;

      font-weight: 500;
      font-size: 1rem;
      line-height: 25px;
      text-transform: capitalize;
      margin: 0 1rem;
      cursor: pointer;
      transition: ease-in-out 0.4s;

      &:hover {
        transform: scale(1.08);
      }

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .profile {
    margin-right: 2rem;

    i {
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }
  }
}
.contain {
  display: flex;
  flex-direction: row;
}
@media (max-width: 850px) {
  .navbar {
    .logo {
      margin-left: 2rem;
      i {
        font-size: 1.5rem;
      }
    }
    .container {
      p {
        font-size: 1rem;
      }
    }
    .profile {
      i {
        font-size: 1.5rem;
      }
    }
  }
}
.button {
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  background: #ff4820;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: ease 0.8s;
  margin: 0 0.4rem;
  &:hover {
    transform: scale(1.1);
    color: #fff;
    background: rgb(1, 2, 3);
  }
}
